.logo {
  max-width: 200px;
  float: left;
  padding: 10px;
}

.womansale {
  height: 500px;
  width: 500px;
}

.skisale {
  height: 500px;
  width: 500px;
}

.woman {
  height: 500px;
  width: 500px;
}

.man {
  height: 500px;
  width: 500px;
}

.yellowcoat {
  height: 500px;
  width: 500px;
}

.logobot {
  max-width: 200px;
  padding: 10px;
}
