.logo {
  max-width: 150px;
  margin: 5px;
}

.womansale {
  height: 500px;
  width: 500px;
}

.skisale {
  height: 500px;
  width: 500px;
}

.logobot {
  max-width: 200px;
  padding: 10px;
}

.get-inspired img {
  width: 100%;
}
