body {
  font-family: "roboto", helvetica, arial;
}

h1 {
  font-family: "yujiboka", Verdana, Geneva;
}

.logo-container img {
  max-width: 100px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: linear-gradient(#000, #163143);
}
