header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  background: linear-gradient(black, #163143);
  color: #fff;
}

header a {
  color: #fff;
}

nav,
#hamburger-checkbox {
  display: none;
}

#hamburger-checkbox:checked ~ nav {
  display: block;
}

.nav-container {
  position: relative;
}

nav {
  position: absolute;
  right: 0px;
}

.nav-container label {
  padding: 10px;
}

.header-right {
  margin: 5px;
}

header i:hover {
  color: lightgray;
}

nav li {
  padding: 0px;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 5px;
}

nav a:hover {
  text-decoration: underline;
}

main {
  max-width: 800px;
  margin: 0 auto;
}

.frontpage {
  background-image: url("/img/frontpage.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
  height: 500px;
  color: white;
}

.sale {
  background-image: url("/img/skisale.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 500px;
}

h3 {
  display: block;
  color: white;
  font-size: 50px;
  align-items: center;
  border-radius: 5px;
  border-style: solid;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(#163143, black);
  color: #fff;
}

.footer {
  color: #fff;
}

.follow {
  margin: 5px;
}

@media (min-width: 600px) {
  nav {
    display: inline-block;
    position: static;
  }

  .nav-container label {
    display: none;
  }
}

@media (max-width: 600px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background: linear-gradient(black, #163143);
    color: #fff;
    flex-wrap: wrap;
  }

  .logo-container {
    flex: 1 1 100%;
  }

  .logobot {
    display: none;
  }

  .search {
    display: none;
  }

  footer {
    flex-direction: column;
  }
}
