/* ------- I AM FUCKED NOW ANYWAYS, SO MIGHT ASWEL TRY! --------*/
/* ((((((((((((((STARTING OVER))))))))))))) */
/* ¤¤¤¤¤¤¤¤¤¤ FONTS ¤¤¤¤¤¤¤¤¤¤ */
@font-face {
  font-family: Yuijiboku, Roboto, Verdana, Arial, Geneva, Arial, Helvetica,
    sans-serif;
  src: url(../yujiboku.ttf);
  src: url(../Roboto.ttf);
}
body {
  font-family: "roboto", helvetica, arial;
}

h1 {
  font-family: "yujiboka", Verdana, Geneva;
}

/* ¤¤¤¤¤¤¤¤¤¤ HEADER ¤¤¤¤¤¤¤¤¤ */

.logo-container img {
  max-width: 100px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: linear-gradient(#000, #163143);
}
